
/*css design in firstpage*/
body {
  background-color: rgb(red, green, blue);
}    
h1 { 
    color: black ;
    text-align: center ;
    font-size: 70px;
}
.align_txt {
    position: absolute;
    width: 100%;
    text-align: center;
}
.info{
 position: absolute;
 top: 8px;
right: 500px;
font-size: 15px;
font-family:'Courier New', Courier, monospace;
}
.name{ 
font-family: cursive;
font-size: 200%;
text-align: center;
}
.head a {
text-decoration: none;
color: #007BFF; /* Blue color for links */
padding: 10px 15px;
border-radius: 5px;
transition: background-color 0.3s ease, color 0.3s ease;
}
.head
{
 text-align: left;
padding-left: 100px;
font-size: 20px ;
}
.head a:hover {
  background-color: #0056b3;
  color: white;
}
.container {
display: flex; 
align-items:left;
justify-content: left;
width:50%;
height: 65%; 
}
.pos_cen {
   position: absolute;
   width: 100%; 
   align-items: justify;
}
 .skill {
  position: absolute;
   width: 100%; 
   bottom: -350px;
 }                    

.title {
text-align: center;
}

/*css design in second page*/ 
.bhtml {
    background-color: white;
    border: none;
    color: black;
    padding: 60px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    border-radius: 20px;
    border: 2px solid;
    position:absolute;
    top: 25%;
    margin-inline-start:5%;
    justify-content: center;
    
  }
  .bjava {
    background-color: white;
    border: none;
    color: black;
    padding: 77px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 20px;
    border: 2px solid;
    position:absolute;
    top: 50%;
    margin-inline-start: 17%;
    justify-content: center;
  }
  .bpython {
    background-color: white;
    border: none;
    color: black;
    padding: 76px 79px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 20px;
    border: 2px solid;
    position:absolute;
    top: 25%;
    margin-inline-start: 30%;
    justify-content: center;
  }
  .bweb {
    background-color: white;
    border: none;
    color: black;
    padding: 75.9px 67px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid;
    position:absolute;
    top: 50%;
    margin-inline-start: 43%;
    justify-content: center;
  }
  .bphp {
    background-color: white;
    border: none;
    color: black;
    padding: 76.1px 89.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid;
    position:absolute;
    top: 25%;
    margin-inline-start: 54%;
    justify-content: center;
  }
  .bc {
    background-color: white;
    border: none;
    color: black;
    padding: 75.5px 70px;
    text-align: center;
    text-decoration: none;
     font-size: 24px;
    border-radius: 12px;
    border: 2px solid;
    position:absolute;
    top: 50%;
    margin-inline-start: 69%;
    justify-content: center;
  }
  .bbase {
    background-color: white;
    border: none;
    color: black;
    padding: 75px 72px;
    text-align: center;
    text-decoration: none;
     font-size: 24px;
    border-radius: 12px;
    border: 2px solid;
    position:absolute;
    top: 25%;
    margin-inline-start: 80%;
    justify-content: center;
  }

  /*css design in third page*/
  .thirdhead{
  color: red ;
  text-align: center;
  font-size: 70px;
  }
  .descrip{ 

    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
/* design in database project*/
.invent{
  color: black ;
  text-align: left ;
  font-size: 15px;

}
.column1 {
  float: left;
  width: 10%;
  padding: 5px;
}
.column2 {
  float: left;
  width: 20%;
  padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }

/* design contact*/

.fb {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  background: #3B5998;
  color: white;
  margin-inline-start: 1%;
  position:fixed;
  bottom: 200px;
  left: 100px;
  width: 30px;
 text-align: center;
         
}
.ig{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: bottom ;
  text-decoration: none;
  background: magenta;
  color: white;
  margin-inline-start: 1%;
 position:fixed;
  bottom: 200px;
  left: 250px;
  width: 30px;
 text-align: center;
}

.email { 
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: bottom ;
  text-decoration: none;
  background: black;
  color: white;
  margin-inline-start: 4%;
 position:fixed;
  bottom: 200px;
  left: 350px;
  width: 30px;
 text-align: center;
}

.phone { 
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: bottom ;
  text-decoration: none;
  background: green;
  color: white;
  margin-inline-start: 6.5%;
 position:fixed;
  bottom: 200px;
  left: 450px;
  width: 29px;
 text-align: center;
}


